<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/head :: head"></div>
</head>
<body>
    <!-- Include the header fragment -->
    <div th:replace="fragment/header :: header"></div>
    <br><br>
    <!-- Use Bootstrap's card for product display -->
    <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top" th:src="@{'/image/' + ${item.id} + '.png'}" alt="Product Image">
        <div class="card-body text-center">
            <!-- Product name, price -->
            <h5 class="card-title fw-bolder" th:text="${item.itemName}"></h5>
            <p class="card-text" th:text="${item.price + ' 원'}"></p>
            <!-- Add to cart button -->
            <a class="btn btn-outline-dark mt-auto w-100" href="#">카트담기</a>
        </div>
    </div>

    <div th:replace="fragment/footer :: footer"></div>
</body>
</html>