<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/head :: head"></div>
    <meta charset="UTF-8">
</head>
<body>
<!-- Include the header fragment -->
<div th:replace="fragment/header :: header"></div>

<!-- Section-->
<section class="py-5">
    <h1>상품 정보 변경 페이지</h1>
    <nav>
        <ul>
            <li><a href="/admin/payment">결제 관리</a></li>
            <li><a href="/admin/itemmanage">상품 정보 변경</a></li>
            <li><a href="/admin/order">주문 관리</a></li>
            <li><a href="/admin/usermanage">유저 관리</a></li>
        </ul>
    </nav>
    <nav>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>아이템 이름</th>
                <th>가격</th>
                <th>카테고리</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.category}"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/admin/itemmanage/{id}(id=${item.id})}">수정하기</a>
                </td>
                <td>
                    <button class="btn btn-danger" th:data-item-delete-id="${item.id}">삭제하기</button>
                </td>
            </tr>
            </tbody>
        </table>
    </nav>
</section>
<!-- Include the footer fragment -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>