<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/head :: head"></div>
    <meta charset="UTF-8">
</head>
<body>
<!-- Include the header fragment -->
<div th:replace="fragment/header :: header"></div>

<!-- Section-->
<section class="py-5">
    <h1>유저 관리 페이지</h1>
    <nav>
        <ul>
            <li><a href="/admin/payment">결제 관리</a></li>
            <li><a href="/admin/itemmanage">상품 정보 변경</a></li>
            <li><a href="/admin/order">주문 관리</a></li>
            <li><a href="/admin/usermanage">유저 관리</a></li>
        </ul>
    </nav>
    <nav>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>이메일</th>
                <th>권한</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.authority.authorityName}"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/admin/usermanage/{id}(id=${user.id})}">수정하기</a>
                </td>
                <td>
                    <button class="btn btn-danger btn-delete" th:data-user-delete-id="${user.id}">삭제하기</button>
                </td>
            </tr>
            </tbody>
        </table>
    </nav>
</section>
<!-- Include the footer fragment -->
<div th:replace="fragment/footer :: footer"></div>
<script src="/js/admin.js"></script>
</body>
</html>