<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/head :: head"></div>
</head>
<body>
<div th:replace="fragment/header :: header"></div>

<div class="container mt-4">
    <h2>장바구니</h2>
    <div th:if="${cart != null}">
        <div th:text="'총 상품 갯수: ' + ${cart.count} + '개'"></div>
        <br><br>
    </div>
    <div th:if="${not #lists.isEmpty(cart.cartItems)}">
        <table class="table">
            <thead>
            <tr>
                <th>사진</th>
                <th>번호</th>
                <th>제품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>총금액</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cart.cartItems}">
                <td><img alt="Product Image" th:src="@{'/shoppingItem/' + ${cartItem.item.id} + '.png'}"
                         style="height: 100px;"/></td>
                <td id=itemName th:data-cart-item-idendififyNum="${cartItem.item.id}"
                    th:text="${cartItem.item.id}"></td>
                <td th:text="${cartItem.item.itemName}"></td>
                <!--<td th:text="${#numbers.formatDecimal(cartItem.item.price, 1, 'COMMA', 0, 'POINT')} + ' 원'"></td>-->
                <td th:if="${cartItem.item.discountPercent != null}"
                    th:text="${#numbers.formatDecimal(cartItem.item.discountPrice, 1, 'COMMA', 0, 'POINT')} + ' 원'">
                </td>
                <td th:text="${#numbers.formatDecimal(cartItem.item.price, 1, 'COMMA', 0, 'POINT')} + ' 원'"
                    th:unless="${cartItem.item.discountPercent != null}">
                </td>
                <td>
                    <input min="1" name="amount" th:id="'count' + ${cartItem.item.id}" th:value="${cartItem.count}"
                           type="number"/>
                    <button class="btn btn-warning" id="btn-update" th:data-cart-item-id=${cartItem.item.id}>변경</button>
                </td>
                <td th:if="${cartItem.item.discountPercent != null}"
                    th:text="${#numbers.formatDecimal(cartItem.item.discountPrice * cartItem.count, 1, 'COMMA', 0, 'POINT')} + ' 원'">
                </td>

                <td th:text="${#numbers.formatDecimal(cartItem.item.price * cartItem.count, 1, 'COMMA', 0, 'POINT')} + ' 원'"
                    th:unless="${cartItem.item.discountPercent != null}">
                </td>
                <td>
                    <button id="btn-delete" th:data-cart-item-id=${cartItem.id} class="btn btn-danger">삭제하기
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">장바구니 총 금액</td>
                <td id="totalAmount" th:text="${#numbers.formatDecimal(total, 1, 'COMMA', 0, 'POINT')} + ' 원'"></td>
                <td>
                    <!--<button class="btn btn-success" id="btn-order">주문하기</button>-->
                </td>
                <td>
                    <!--<button class="btn btn-success" id="btn-order-page" th:href="@{/order}">주문하기</button>-->
                    <a class="btn btn=success" href="/order">주문하기</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div th:unless="${not #lists.isEmpty(cart.cartItems)}">
        <p>장바구니에 아이템이 없습니다.</p>
    </div>
</div>
<script th:inline="javascript">
    window.userId = [[${userId}]];
</script>
<div th:replace="fragment/footer :: footer"></div>
<script src="/js/cart.js"></script>
</body>
</html>