<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="header">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Main</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div th:if="${session.principal == null}">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" href="/auth/login">로그인</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/auth/insertUser">회원가입</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown_notlogin" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/">All Products</a></li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/item/category/CPU}">CPU</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/MOTHERBOARD}">MOTHERBOARD</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/MEMORY}">MEMORY</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/GRAPHIC}">GRAPHIC</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/SSD}">SSD</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/POWER}">POWER</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div th:if="${session.principal != null}">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" href="/auth/updateUser">회원상세</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/auth/logout">로그아웃</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown_haslogin" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/">All Products</a></li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/item/category/CPU}">CPU</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/MOTHERBOARD}">MOTHERBOARD</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/MEMORY}">MEMORY</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/GRAPHIC}">GRAPHIC</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/SSD}">SSD</a></li>
                            <li><a class="dropdown-item" th:href="@{/item/category/POWER}">POWER</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <a class="nav-item" th:href="@{/cart/user}" style="margin-left: auto;">Cart:</a>
                    
                <div th:if="${cart != null}">
                    <div th:text="${cart.count}">
                    </div>
                </div>
                </div>

            <!--<form class="d-flex" th:action="@{/cart/user/{userId}(userId=${userId})}" style="margin-left: auto;">
                <button class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>-->
        </div>
    </div>
</nav>