<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/head :: head"></div>
</head>
<body>
<!-- Include the header fragment -->
<div th:replace="fragment/header :: header"></div>
<div class="container mt-3">
    <form action="/auth/securitylogin" method="post">
        <div class="mb-3">
            <span th:text="#{user.login.form.username}"></span>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="mb-3">
            <span th:text="#{user.login.form.password}"></span>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <button class="btn btn-secondary" id="btn-login" th:text="#{user.login.form.login_btn}"></button>
    </form>
</div>
<!-- Include the footer fragment -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>